@import "tailwindcss";

* {
   box-sizing: border-box;
}

:root {
  font-family: 'Satoshi', sans-serif;
}

.font-anton {
  font-family: 'Anton', sans-serif;
}

.font-satoshi {
  font-family: 'Satoshi', sans-serif;
}

.swiper-pagination-progressbar-fill {
  background-color: black !important;
}
.events-pagination {
  background-color: white !important;
}